/* general css */
html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
  height: 100%;
}

#map-canvas h1 {
  color: #ffffff;
}

/* website optimized css */
@media (min-width: 800px) {

  .container {
    width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .search-list {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #000000;
  }

  .search-list .search-input {
    margin-top: 15px;
  }

  .search-results {
    width: 200px;
    height: 448px;
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
    background-color: #000000;
    border-top: 1px solid #ffffff;
  }

  .poi {
    width: 200px;
    height: 40px;
    border-bottom: 1px solid #ffffff;
  }

  .poi a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }

  .hamburger {
    display: none;
  }

  .map-header {
    width: 600px;
    height: 50px;
    float: right;
    background-color: #000000;
    text-align: center;
  }

  .map-header h1 {
    font-size: 18px;
    color: #ffffff;
    margin: 15px;
  }

  .map-container {
    width: 600px;
    height: 450px;
    float: right;
    padding: 0;
    background-color: #000000;
  }
}

/* tablet optimized css */
@media (min-width: 600px) and (max-width: 799px) {

  .container {
    width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .search-list {
    width: 200px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 0;
    text-align: center;
    background-color: #000000;
  }

  .search-list .search-input {
    margin-top: 15px;
  }  

  .poi {
    width: 200px;
    height: 40px;
    border-bottom: 1px solid #ffffff;   
  }

  .poi a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }

  .search-results {
    width: 200px;
    height: 398px;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 0;
    text-align: center;
    background-color: #000000;
    border-top: 1px solid #ffffff;
  }

  .hamburger {
    display: none;
  }

  .map-header {
    width: 600px;
    height: 50px;
    float: right;
    background-color: #000000;
    text-align: center;
  }

  .map-header h1 {
    font-size: 18px;
    color: #ffffff;
    margin: 15px;
  }

  .map-container {
    width: 600px;
    height: 450px;
    float: right;
    padding: 0;
    vertical-align: top;
    background-color: #000000;
  }
}

/* phone-specific css */
@media (max-width: 599px) {
  .container {
    width: 320px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .search-list {
    width: 200px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 0;
    text-align: center;
    background-color: #000000;
    opacity: 0.5; /* Standard: FF gt 1.5, Opera, Safari, CSS3 */
    -ms-filter: "alpha(opacity=50)"; /* IE 8 */
    -khtml-opacity: 0.5; /* Safari 1.x */
    -moz-opacity: 0.5; /* FF lt 1.5, Netscape */
  }

  .search-list .search-input {
    margin-top: 15px;
  }  

  .poi {
    width: 200px;
    height: 40px;
    background-color: #000000;
    border-bottom: 1px solid #ffffff;   
  }

  .poi a {
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
  }

  .search-results {
    width: 200px;
    height: 398px;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 0;
    text-align: center;
    background-color: #000000;
    display: none;
    opacity: 0.5; /* Standard: FF gt 1.5, Opera, Safari, CSS3 */
    -ms-filter: "alpha(opacity=50)"; /* IE 8 */
    -khtml-opacity: 0.5; /* Safari 1.x */
    -moz-opacity: 0.5; /* FF lt 1.5, Netscape */
    border-top: 1px solid #ffffff;
  }

  .hamburger {
    font-size: 8px;
    padding-right: 8px;
  }

  .map-header {
    width: 320px;
    height: 30px;
    float: right;
    background-color: #000000;
    text-align: center;
  }

  .map-header h1 {
    font-size: 10px;
    color: #ffffff;
    margin: 10px;
  }

  .map-container {
    width: 320px;
    height: 450px;
    float: right;
    padding: 0;
    vertical-align: top;
    background-color: #000000;
  }
}