/* general css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
  width: 800px;
}

#search-list {
  height: 50px;
  width: 200px;
  background-color: #888888;
}

#search-list .glyphicon {
  margin-top: 15px;
}

#search-list .search-input {
  margin-top: 10px;
}

#search-results {
  width: 200px;
  height: 550px;
  background-color: #222222;
}

#tab-header {
  height: 50px;
  width: 600px;
  background-color: #555555;
  text-align: center;
}

#tab-header h1 {
  font-size: 18px;
  margin: 15px;
}

.map-container {
  height: 550px;
  width: 600px;
  padding: 0px;
  background-color: #000000;
}

#map-canvas {
  height: 100%;
}

/* phone-specific css */


/* tablet-specific css */


/* website css */