/* general css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
  height: 100%;
}

/* website optimized css */
@media (min-width: 800px) {

  .container {
    width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }

  #search-list {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: #000000;
  }

  #search-list .search-input {
    margin-top: 15px;
  }

  #search-results {
    width: 200px;
    height: 448px;
    position: absolute;
    top: 50px;
    left: 0px;
    text-align: center;
    background-color: #000000;
    border-top: 1px solid #ffffff;
  }

  .poi {
    width: 200px;
    height: 40px;
    border-bottom: 1px solid #ffffff;
  }

  .poi a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }

  #map-header {
    width: 600px;
    height: 50px;
    float: right;
    background-color: #000000;
    text-align: center;
  }

  #map-header h1 {
    font-size: 18px;
    color: #ffffff;
    margin: 15px;
  }

  .map-container {
    width: 600px;
    height: 450px;
    float: right;
    padding: 0px;
    background-color: #000000;
  }
}

/* tablet optimized css */
@media (min-width: 600px) and (max-width: 799px) {

  .container {
    width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }

  #search-list {
    width: 200px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 0px;
    text-align: center;
    background-color: #000000;
  }

  #search-list .search-input {
    margin-top: 15px;
  }  

  .poi {
    width: 200px;
    height: 40px;
    border-bottom: 1px solid #ffffff;   
  }

  .poi a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }

  #search-results {
    width: 200px;
    height: 398px;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 0px;
    text-align: center;
    background-color: #000000;
    border-top: 1px solid #ffffff;
  }

  #map-header {
    width: 600px;
    height: 50px;
    float: right;
    background-color: #000000;
    text-align: center;
  }

  #map-header h1 {
    font-size: 18px;
    color: #ffffff;
    margin: 15px;
  }

  .map-container {
    width: 600px;
    height: 450px;
    float: right;
    padding: 0px;
    vertical-align: top;
    background-color: #000000;
  }
}

/* phone-specific css */
